.header{
    background-color:	#FFB6C1;
    padding: .4rem;
    overflow: hidden;
    height: 3rem;
    border-bottom:1px solid #FFB6C1;
}
.header-logo{
    
    font-size: 1.5rem;
    text-align: left;

}
.header-logo a{
    color:#FFF0F5;
}
.header-txt{
    font-size: 0.6rem;
    color: #fff;
    display: inline-block;
    padding-left: 0.3rem;
}
.ant-menu{
    background-color:	#FFB6C1;
}
.ant-menu-item{
    color:#fff;
    padding-left:1rem;
    padding-right:1rem;

}
.ant-menu-item-active{
    color:#FF1493;
}
.ant-menu-item-selected{
    color:#FF1493;
}

.author-div{
    text-align: center;
    padding: 1rem;

}
.author-div div{
    margin-bottom: 1rem;

}
.author-introduction{
    font-size:.8rem;
    color: #fff;
}
.account{
    background-color: 	#DB7093;
    margin-left: .5rem;
    margin-right: .5rem;
}
.ant-divider-inner-text{
    color:	#DB7093;
}
.ad-div{
    margin-top: .5rem;
}
.ad-div div{
    border-radius: .3rem;
    margin-bottom: .2rem;
    overflow: hidden;
    color:#fff;
}
.ant-divider-inner-text{
    color:	#DB7093;
}
.footer-div{
    text-align: center;
    width: 100%;
    padding: 1rem;
    color:#888;
}
